<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- INTERNET (requerido para API calls) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Estado de red (verificar conexión) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Ubicación (para tracking de rutas) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Ubicación en background (si rastrean mientras app está minimizada) -->
    <!--<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <!-- Notificaciones (para alertas de contenedores) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Cámara (si suben fotos de evidencia) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Almacenamiento (para guardar fotos) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Android 13+ (fotos/media) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:label="Waste Track Driver App"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <!--TODO: Delete android:usesCleartextTraffic="true" for production and when the endpoints are https not only http-->

        <!-- ✅ Google Maps API Key - DEBE ESTAR DENTRO DE <application> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNC6IN3TDO0SyxOuna_bWteD00CqEhpps"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>